@charset "utf-8";

header {background-color: black; color: white; text-align: center;}
#gnb li {color: red; float:left; width: 100px;}
#lnb li {color: red; float:left} 
main {width: 600px; height: 500px; background-color: blue; margin:0 auto; padding:20px 0 20px 0}
article {width: 300px; height: 500px; text-align: center; line-height: 500px; float: left; background-color: yellow; }
section {width: 300px; height: 500px; text-align: center; line-height: 500px; float: left; background-color: yellowgreen; }
footer {margin:200px 0; text-align: center; background-color: aqua; height:50px; line-height: 50px;}