@charset "utf-8";

div {width: 100%; height: 300px; background-color: antiquewhite; display: block;}

/* 미디어쿼리를 배워보자. LET'S 900px 태블릿, 35px 스마트폰 가정 */

@media screen and (max-width: 900px){
    div{
        background-color: red;
    }
}

@media screen and (max-width: 350px){
    div{
        background-color: red;
        opacity: 0.7;
    }
}