@charset "utf-8";

.title1 {color:black; border: 1px solid gray; display: inline;}
.title2 {color: green; border: 1px solid gray; display: inline;}
.title3 {color: yellow; border: 1px solid gray; display: inline; border-radius: 50%}
h4 {color: blue; border: 1px solid gray; background-color: yellow}
h5 {color: purple; border: 1px solid gray}
<<<<<<< HEAD
h5 {color: purple; border: 1px solid #ccc}
h5 {color: purple; border: 1px solid #cccccc}
h5 {color: purple; border: 10px solid #6BDD71}
=======

>>>>>>> 400c301c89235f14a07aedac96cf28cb049cfcdf
